@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.wizard-header {
  -moz-binding: url(chrome://muter/content/navigationWizard.xml#navigationWizardHeader);
  padding: 10px 5px;
}

.progressLabel {
  margin: 5px 0px;
  text-align: center;
  font-size: 110%;
  font-weight: normal;
}

.progressLabel.active{
  font-weight: bold;
}

#muter-feedback-commentLengthWarning{
	color: red;
	font-size: 150%;
}