@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbar[iconsize="small"] #muter-toolbar-palette-button > toolbarbutton > image, toolbar[iconsize="small"] #muter-toolbar-palette-button  > image{
  background-color:transparent;
  height: 16px;
  width: 16px;
}

toolbar #muter-toolbar-palette-button > toolbarbutton > image{
  background-color:transparent;
  height: 29px;
  width: 29px;
}

image.muter-shadow-image {
  margin: 2px 10px 15px 10px;
  border: 1px solid #000;
  -moz-box-shadow: 3px 3px 4px #333;
}

#muter-settings-default-disabled-icon, #muter-settings-default-enabled-icon {
  width: 24px;
  height: 24px;
}

.muter-settings-default-icon-vbox {
  margin-top: 10px;
  margin-bottom: 20px;
}

/** For Firfox 3.6 only! **/
#muter-statusbar-button > image{
  background-color:transparent;
  height: 16px;
  width: 16px;
}
