@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Addon bar switch button icon */
toolbar[id="addon-bar"] #muter-toolbar-palette-button image[class="toolbarbutton-icon"]{
  height: 16px;
}

/* Navigation bar switch button with small icon */
#muter-toolbar-palette-button image[class="toolbarbutton-icon"] {
  background-color:transparent;
  height: 18px;
}

/* Navigation bar switch button with large icon */
toolbox[iconsize="large"] #muter-toolbar-palette-button image[class="toolbarbutton-icon"]{
  height: 24px;
}

image.muter-shadow-image {
  margin: 2px 10px 15px 10px;
  border: 1px solid #000;
  -moz-box-shadow: 3px 3px 4px #333;
}

#muter-settings-default-disabled-icon, #muter-settings-default-enabled-icon {
  width: 24px;
  height: 24px;
}

.muter-settings-default-icon-vbox {
  margin-top: 10px;
  margin-bottom: 20px;
}
